.characters-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.characters-list-table {
  border: 1px solid black;
  width: 600px;
  height: 200px;
  background-color: var(--grey);
  color: var(--white);
  border-radius: 1rem;
  padding: 1rem 0 1rem 0;
}

td {
  text-align: center;
}

.characters-list-table button {
  padding: 4px 8px;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.pagination button {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.pagination button:hover {
  background-color: rgb(170, 170, 170);
}

.paginationItem.active {
  border: 1px solid var(--white);
  color: var(--white);
  pointer-events: none;
  background-color: rgb(170, 170, 170);
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: rgb(170, 170, 170);
}
