.characters-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.characters-list-table {
  border: 1px solid black;
  width: 600px;
  height: 200px;
  background-color: var(--grey);
  color: var(--white);
  border-radius: 1rem;
  padding: 1rem 0 1rem 0;
  box-shadow: 5px 5px 15px black;
}

.characters-list-table th {
  padding-bottom: 1rem;
}

td {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--grey);
}

a:visited {
  color: var(--grey);
}

.character-link {
  display: block;
  margin: 4px auto;
  padding: 4px;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  width: 7rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.pagination button {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Lora", serif;
}

#prevButton {
  border-radius: 1rem 0 0 1rem;
}

#nextButton {
  border-radius: 0 1rem 1rem 0;
}

.pagination button:hover {
  background-color: rgb(170, 170, 170);
}

.paginationItem.active {
  border: 1px solid var(--white);
  color: var(--white);
  pointer-events: none;
  background-color: rgb(170, 170, 170);
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: rgb(170, 170, 170);
}

@media screen and (max-width: 800px) {
  .characters-list-table {
    width: 70%;
  }
}
