.character-page {
  color: var(--white);
}

.character-container {
  background-color: var(--grey);
  display: flex;
  width: 32rem;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem;
  align-items: center;
  box-shadow: 5px 5px 15px black;
}

.character-image {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 5px;
  height: auto;
  display: block;
  height: 280px;
  width: 200px;
  object-fit: cover;
}

.character-info {
  margin-left: 1rem;
}

.character-info h2,
.character-info p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .character-container {
    width: 60%;
  }
  .character-image {
    width: 40%;
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  .character-container {
    display: flex;
    flex-direction: column;
  }

  .character-image {
    width: 70%;
    height: 80%;
    margin-bottom: 1rem;
  }
}
