input {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  outline: none;
  font-family: "Lora", serif;
}
